ul {
    align-items: center;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
}

li {
    color: #FFFFFF;
    list-style-type: none;
    margin-left: 5rem;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 2rem;
}