html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: #1E2329;
  font-size: 1.6rem; /* Define o tamanho base do texto para 16px */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2 {
  margin: 1rem;
}